/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
}

.slogan {
  font-size:40px;


}

.sign-in {
font-size: 20px;
font-family:times new roman bold;
}

.about {
  color:white;
}

.buttons {
width:500px;



}

.login {
  color:white;
}

.Home {
  color:white;
}

#logo-container{
  color:white;
}

.icon-block {
  border-color: #F08080;
  border-style: dotted;
 border-width: .5 px;
}


.row h5 {

  float:left;
  font-size:30px;
  font-family:"Arial Black", Gadget, sans-serif;
  float:left;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 415px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  
 .schedule {
margin-top: 80px;
margin-bottom:40px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

